body {
    background: #eee;
    text-align: left;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

.main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}



.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.chat .username {
    font-weight: 800;
    color:pink;
}

.chat:hover {
    background-color: #ddd;
}


form {
	position:relative;
	padding:30px;
	padding-left:0;
	margin-bottom:50px;
}

form input[type=text] {
    margin-right: 10px;
    width: 50%;
    font-size: 12px;
    padding: 5px;
}